<a href="https://colab.research.google.com/github/jwc22-11/lgdacon/blob/main/HM/PolynomialFeatures2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import random
import os
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.multioutput import MultiOutputRegressor
from lightgbm import LGBMRegressor
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
import sklearn.metrics as metrics
from sklearn.metrics import make_scorer
from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import PolynomialFeatures

In [ ]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
seed_everything(42) # Seed 고정

In [ ]:
def lg_nrmse(gt, preds):
    # 각 Y Feature별 NRMSE 총합
    # Y_01 ~ Y_08 까지 20% 가중치 부여
    all_nrmse = []
    for idx in range(14): # ignore 'ID'
        rmse = metrics.mean_squared_error(gt[:,idx], preds[:,idx], squared=False)
        nrmse = rmse/np.mean(np.abs(gt[:,idx]))
        all_nrmse.append(nrmse)
    score = 1.2 * np.sum(all_nrmse[:8]) + 1.0 * np.sum(all_nrmse[8:14])
    return score

In [ ]:
%ls

sample_data/  sample_submission.csv  test.csv  train.csv

In [ ]:
train_df = pd.read_csv('train.csv').drop(columns=['ID'])
test_df = pd.read_csv('test.csv').drop(columns=['ID'])

In [ ]:
train_df

,X_01,X_02,X_03,X_04,X_05,X_06,X_07,X_08,X_09,X_10,...,Y_05,Y_06,Y_07,Y_08,Y_09,Y_10,Y_11,Y_12,Y_13,Y_14
0,70.544,103.320,67.47,1,101.892,74.983,29.45,62.38,245.71,0.0,...,29.632,16.083,4.276,-25.381,-25.529,-22.769,23.792,-25.470,-25.409,-25.304
1,69.524,103.321,65.17,1,101.944,72.943,28.73,61.23,233.61,0.0,...,33.179,16.736,3.229,-26.619,-26.523,-22.574,24.691,-26.253,-26.497,-26.438
2,72.583,103.320,64.07,1,103.153,72.943,28.81,105.77,272.20,0.0,...,31.801,17.080,2.839,-26.238,-26.216,-22.169,24.649,-26.285,-26.215,-26.370
3,71.563,103.320,67.57,1,101.971,77.022,28.92,115.21,255.36,0.0,...,34.503,17.143,3.144,-25.426,-25.079,-21.765,24.913,-25.254,-25.021,-25.345
4,69.524,103.320,63.57,1,101.981,70.904,29.68,103.38,241.46,0.0,...,32.602,17.569,3.138,-25.376,-25.242,-21.072,25.299,-25.072,-25.195,-24.974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39602,66.465,103.320,62.27,1,103.150,66.825,30.20,77.83,298.05,0.0,...,29.194,16.582,3.410,-26.486,-26.581,-22.772,24.261,-26.491,-26.584,-26.580
39603,66.465,103.321,62.77,1,102.021,66.825,29.21,102.25,270.67,0.0,...,29.859,15.659,3.406,-27.308,-27.203,-24.674,23.427,-27.250,-27.334,-27.325
39604,68.504,103.320,64.67,1,103.144,68.864,29.96,102.61,198.07,0.0,...,24.720,16.823,3.215,-26.502,-26.687,-22.577,24.301,-26.388,-26.425,-26.601
39605,66.465,103.320,63.67,1,102.025,67.845,30.30,112.60,275.52,0.0,...,26.412,15.757,4.216,-26.760,-26.634,-24.066,23.305,-26.536,-26.751,-26.635
39606,66.465,103.320,65.67,1,102.004,69.884,30.16,112.90,276.06,0.0,...,30.745,16.781,3.307,-26.054,-26.251,-23.257,24.450,-26.224,-26.256,-26.093

In [ ]:
test_df

,X_01,X_02,X_03,X_04,X_05,X_06,X_07,X_08,X_09,X_10,...,X_47,X_48,X_49,X_50,X_51,X_52,X_53,X_54,X_55,X_56
0,68.504,103.321,76.67,1,101.867,73.963,30.51,63.57,239.80,0.0,...,1,1,17227.63,138.130429,129.460682,141.506570,133.427229,129.711498,133.138096,121.859684
1,67.485,103.320,69.37,1,101.992,67.845,28.03,116.99,189.23,0.0,...,1,1,17134.53,136.148839,128.266277,145.911745,131.196417,132.411480,133.629025,124.178623
2,69.524,103.320,68.97,1,101.884,77.022,29.65,205.68,214.93,0.0,...,1,1,14860.83,120.447446,119.988804,132.099908,120.450155,130.051708,128.252972,114.475628
3,69.524,103.320,65.87,1,101.866,73.963,28.15,103.38,180.80,0.0,...,1,1,15252.53,133.994695,125.069180,147.507669,123.142653,125.963665,139.666592,126.589253
4,73.603,103.321,66.67,1,101.891,74.983,29.92,71.20,231.93,0.0,...,1,1,10752.23,137.918202,135.116192,138.600473,127.173033,137.252712,134.411335,124.020016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39603,68.504,103.320,63.97,1,103.157,68.864,29.49,116.35,284.16,0.0,...,1,1,62123.53,127.741246,126.494312,139.119905,125.271109,128.284572,140.176945,128.292843
39604,68.504,103.320,61.37,1,103.137,68.864,32.29,116.28,272.41,0.0,...,1,1,61844.13,127.767377,124.062809,138.238664,119.879393,127.322529,137.312047,131.570614
39605,69.524,103.320,63.67,1,103.149,69.884,30.00,113.05,295.54,0.0,...,1,1,60277.53,128.593640,124.774037,138.659624,123.999571,126.075542,135.656132,127.671108
39606,67.485,103.321,61.77,1,103.148,67.845,32.05,115.05,267.26,0.0,...,1,1,60236.73,121.110646,125.471699,134.989984,120.889578,129.296909,132.673977,131.882893
39607,71.563,103.320,63.07,1,103.158,71.923,31.14,102.22,215.85,0.0,...,1,1,60680.73,134.263593,129.765515,139.681833,128.243391,131.757923,139.903401,121.479191

In [ ]:
pcb = train_df[['X_01','X_02','X_05','X_06']]
heat = train_df[['X_03', 'X_07', 'X_08', 'X_09', 'X_10', 'X_11']]
antenna = train_df[['X_14','X_15','X_16','X_17','X_18']]
screw = train_df[['X_34','X_35','X_36','X_37']]
connector = train_df[['X_24','X_25','X_26','X_27','X_28','X_29']]
radome = train_df[['X_41','X_42','X_43','X_44']]
housing = train_df[['X_38','X_39','X_40']]
smt = train_df[[ 'X_50', 'X_51', 'X_52', 'X_54', 'X_55', 'X_56']]

In [ ]:
train_x1 = pd.concat([pcb, heat, antenna, screw, connector, radome, housing, smt], axis=1)

In [ ]:
train_x = train_x1.filter(regex='X') # Input : X Featrue
train_y = train_df.filter(regex='Y') # Output : Y Feature

In [ ]:
pcb1 = test_df[['X_01','X_02','X_05','X_06']]
heat1 = test_df[['X_03', 'X_07', 'X_08', 'X_09', 'X_10', 'X_11']]
antenna1 = test_df[['X_14','X_15','X_16','X_17','X_18']]
screw1 = test_df[['X_34','X_35','X_36','X_37']]
connector1 = test_df[['X_24','X_25','X_26','X_27','X_28','X_29']]
radome1 = test_df[['X_41','X_42','X_43','X_44']]
housing1 = test_df[['X_38','X_39','X_40']]
smt1 = test_df[[ 'X_50', 'X_51', 'X_52', 'X_54', 'X_55', 'X_56']]

In [ ]:
test_x = pd.concat([pcb1, heat1, antenna1, screw1, connector1, radome1, housing1, smt1], axis=1)

In [ ]:
poly = PolynomialFeatures(include_bias=False)

poly.fit(train_x)
train_poly = poly.transform(train_x)

In [ ]:
train_poly.shape

(39607, 779)

In [ ]:
train_input, val_input, train_target, val_target = train_test_split(
    train_poly, train_y, test_size=0.2, random_state=42)

In [ ]:
print(train_input.shape)
print(val_input.shape)
print(train_target.shape)
print(val_target.shape)

(31685, 779)
(7922, 779)
(31685, 14)
(7922, 14)

In [ ]:
poly.get_feature_names_out()

array(['X_01', 'X_02', 'X_05', 'X_06', 'X_03', 'X_07', 'X_08', 'X_09',
       'X_10', 'X_11', 'X_14', 'X_15', 'X_16', 'X_17', 'X_18', 'X_34',
       'X_35', 'X_36', 'X_37', 'X_24', 'X_25', 'X_26', 'X_27', 'X_28',
       'X_29', 'X_41', 'X_42', 'X_43', 'X_44', 'X_38', 'X_39', 'X_40',
       'X_50', 'X_51', 'X_52', 'X_54', 'X_55', 'X_56', 'X_01^2',
       'X_01 X_02', 'X_01 X_05', 'X_01 X_06', 'X_01 X_03', 'X_01 X_07',
       'X_01 X_08', 'X_01 X_09', 'X_01 X_10', 'X_01 X_11', 'X_01 X_14',
       'X_01 X_15', 'X_01 X_16', 'X_01 X_17', 'X_01 X_18', 'X_01 X_34',
       'X_01 X_35', 'X_01 X_36', 'X_01 X_37', 'X_01 X_24', 'X_01 X_25',
       'X_01 X_26', 'X_01 X_27', 'X_01 X_28', 'X_01 X_29', 'X_01 X_41',
       'X_01 X_42', 'X_01 X_43', 'X_01 X_44', 'X_01 X_38', 'X_01 X_39',
       'X_01 X_40', 'X_01 X_50', 'X_01 X_51', 'X_01 X_52', 'X_01 X_54',
       'X_01 X_55', 'X_01 X_56', 'X_02^2', 'X_02 X_05', 'X_02 X_06',
       'X_02 X_03', 'X_02 X_07', 'X_02 X_08', 'X_02 X_09', 'X_02 X_10',
       'X_02 X_11', 'X_02 X_14', 'X_02 X_15', 'X_02 X_16', 'X_02 X_17',
       'X_02 X_18', 'X_02 X_34', 'X_02 X_35', 'X_02 X_36', 'X_02 X_37',
       'X_02 X_24', 'X_02 X_25', 'X_02 X_26', 'X_02 X_27', 'X_02 X_28',
       'X_02 X_29', 'X_02 X_41', 'X_02 X_42', 'X_02 X_43', 'X_02 X_44',
       'X_02 X_38', 'X_02 X_39', 'X_02 X_40', 'X_02 X_50', 'X_02 X_51',
       'X_02 X_52', 'X_02 X_54', 'X_02 X_55', 'X_02 X_56', 'X_05^2',
       'X_05 X_06', 'X_05 X_03', 'X_05 X_07', 'X_05 X_08', 'X_05 X_09',
       'X_05 X_10', 'X_05 X_11', 'X_05 X_14', 'X_05 X_15', 'X_05 X_16',
       'X_05 X_17', 'X_05 X_18', 'X_05 X_34', 'X_05 X_35', 'X_05 X_36',
       'X_05 X_37', 'X_05 X_24', 'X_05 X_25', 'X_05 X_26', 'X_05 X_27',
       'X_05 X_28', 'X_05 X_29', 'X_05 X_41', 'X_05 X_42', 'X_05 X_43',
       'X_05 X_44', 'X_05 X_38', 'X_05 X_39', 'X_05 X_40', 'X_05 X_50',
       'X_05 X_51', 'X_05 X_52', 'X_05 X_54', 'X_05 X_55', 'X_05 X_56',
       'X_06^2', 'X_06 X_03', 'X_06 X_07', 'X_06 X_08', 'X_06 X_09',
       'X_06 X_10', 'X_06 X_11', 'X_06 X_14', 'X_06 X_15', 'X_06 X_16',
       'X_06 X_17', 'X_06 X_18', 'X_06 X_34', 'X_06 X_35', 'X_06 X_36',
       'X_06 X_37', 'X_06 X_24', 'X_06 X_25', 'X_06 X_26', 'X_06 X_27',
       'X_06 X_28', 'X_06 X_29', 'X_06 X_41', 'X_06 X_42', 'X_06 X_43',
       'X_06 X_44', 'X_06 X_38', 'X_06 X_39', 'X_06 X_40', 'X_06 X_50',
       'X_06 X_51', 'X_06 X_52', 'X_06 X_54', 'X_06 X_55', 'X_06 X_56',
       'X_03^2', 'X_03 X_07', 'X_03 X_08', 'X_03 X_09', 'X_03 X_10',
       'X_03 X_11', 'X_03 X_14', 'X_03 X_15', 'X_03 X_16', 'X_03 X_17',
       'X_03 X_18', 'X_03 X_34', 'X_03 X_35', 'X_03 X_36', 'X_03 X_37',
       'X_03 X_24', 'X_03 X_25', 'X_03 X_26', 'X_03 X_27', 'X_03 X_28',
       'X_03 X_29', 'X_03 X_41', 'X_03 X_42', 'X_03 X_43', 'X_03 X_44',
       'X_03 X_38', 'X_03 X_39', 'X_03 X_40', 'X_03 X_50', 'X_03 X_51',
       'X_03 X_52', 'X_03 X_54', 'X_03 X_55', 'X_03 X_56', 'X_07^2',
       'X_07 X_08', 'X_07 X_09', 'X_07 X_10', 'X_07 X_11', 'X_07 X_14',
       'X_07 X_15', 'X_07 X_16', 'X_07 X_17', 'X_07 X_18', 'X_07 X_34',
       'X_07 X_35', 'X_07 X_36', 'X_07 X_37', 'X_07 X_24', 'X_07 X_25',
       'X_07 X_26', 'X_07 X_27', 'X_07 X_28', 'X_07 X_29', 'X_07 X_41',
       'X_07 X_42', 'X_07 X_43', 'X_07 X_44', 'X_07 X_38', 'X_07 X_39',
       'X_07 X_40', 'X_07 X_50', 'X_07 X_51', 'X_07 X_52', 'X_07 X_54',
       'X_07 X_55', 'X_07 X_56', 'X_08^2', 'X_08 X_09', 'X_08 X_10',
       'X_08 X_11', 'X_08 X_14', 'X_08 X_15', 'X_08 X_16', 'X_08 X_17',
       'X_08 X_18', 'X_08 X_34', 'X_08 X_35', 'X_08 X_36', 'X_08 X_37',
       'X_08 X_24', 'X_08 X_25', 'X_08 X_26', 'X_08 X_27', 'X_08 X_28',
       'X_08 X_29', 'X_08 X_41', 'X_08 X_42', 'X_08 X_43', 'X_08 X_44',
       'X_08 X_38', 'X_08 X_39', 'X_08 X_40', 'X_08 X_50', 'X_08 X_51',
       'X_08 X_52', 'X_08 X_54', 'X_08 X_55', 'X_08 X_56', 'X_09^2',
       'X_09 X_10', 'X_09 X_11', 'X_09 X_14', 'X_09 X_15', 'X_09 X_16',
       'X_09 X_17', 'X_09 X_18', 'X_09 X_34', 'X_09 X_35', 'X_09 X_36',
       'X_09 X_37', 'X_09 X_24', 'X_09 X_25', 'X_09 X_26', 'X_09 X_27',
       'X_09 X_28', 'X_09 X_29', 'X_09 X_41', 'X_09 X_42', 'X_09 X_43',
       'X_09 X_44', 'X_09 X_38', 'X_09 X_39', 'X_09 X_40', 'X_09 X_50',
       'X_09 X_51', 'X_09 X_52', 'X_09 X_54', 'X_09 X_55', 'X_09 X_56',
       'X_10^2', 'X_10 X_11', 'X_10 X_14', 'X_10 X_15', 'X_10 X_16',
       'X_10 X_17', 'X_10 X_18', 'X_10 X_34', 'X_10 X_35', 'X_10 X_36',
       'X_10 X_37', 'X_10 X_24', 'X_10 X_25', 'X_10 X_26', 'X_10 X_27',
       'X_10 X_28', 'X_10 X_29', 'X_10 X_41', 'X_10 X_42', 'X_10 X_43',
       'X_10 X_44', 'X_10 X_38', 'X_10 X_39', 'X_10 X_40', 'X_10 X_50',
       'X_10 X_51', 'X_10 X_52', 'X_10 X_54', 'X_10 X_55', 'X_10 X_56',
       'X_11^2', 'X_11 X_14', 'X_11 X_15', 'X_11 X_16', 'X_11 X_17',
       'X_11 X_18', 'X_11 X_34', 'X_11 X_35', 'X_11 X_36', 'X_11 X_37',
       'X_11 X_24', 'X_11 X_25', 'X_11 X_26', 'X_11 X_27', 'X_11 X_28',
       'X_11 X_29', 'X_11 X_41', 'X_11 X_42', 'X_11 X_43', 'X_11 X_44',
       'X_11 X_38', 'X_11 X_39', 'X_11 X_40', 'X_11 X_50', 'X_11 X_51',
       'X_11 X_52', 'X_11 X_54', 'X_11 X_55', 'X_11 X_56', 'X_14^2',
       'X_14 X_15', 'X_14 X_16', 'X_14 X_17', 'X_14 X_18', 'X_14 X_34',
       'X_14 X_35', 'X_14 X_36', 'X_14 X_37', 'X_14 X_24', 'X_14 X_25',
       'X_14 X_26', 'X_14 X_27', 'X_14 X_28', 'X_14 X_29', 'X_14 X_41',
       'X_14 X_42', 'X_14 X_43', 'X_14 X_44', 'X_14 X_38', 'X_14 X_39',
       'X_14 X_40', 'X_14 X_50', 'X_14 X_51', 'X_14 X_52', 'X_14 X_54',
       'X_14 X_55', 'X_14 X_56', 'X_15^2', 'X_15 X_16', 'X_15 X_17',
       'X_15 X_18', 'X_15 X_34', 'X_15 X_35', 'X_15 X_36', 'X_15 X_37',
       'X_15 X_24', 'X_15 X_25', 'X_15 X_26', 'X_15 X_27', 'X_15 X_28',
       'X_15 X_29', 'X_15 X_41', 'X_15 X_42', 'X_15 X_43', 'X_15 X_44',
       'X_15 X_38', 'X_15 X_39', 'X_15 X_40', 'X_15 X_50', 'X_15 X_51',
       'X_15 X_52', 'X_15 X_54', 'X_15 X_55', 'X_15 X_56', 'X_16^2',
       'X_16 X_17', 'X_16 X_18', 'X_16 X_34', 'X_16 X_35', 'X_16 X_36',
       'X_16 X_37', 'X_16 X_24', 'X_16 X_25', 'X_16 X_26', 'X_16 X_27',
       'X_16 X_28', 'X_16 X_29', 'X_16 X_41', 'X_16 X_42', 'X_16 X_43',
       'X_16 X_44', 'X_16 X_38', 'X_16 X_39', 'X_16 X_40', 'X_16 X_50',
       'X_16 X_51', 'X_16 X_52', 'X_16 X_54', 'X_16 X_55', 'X_16 X_56',
       'X_17^2', 'X_17 X_18', 'X_17 X_34', 'X_17 X_35', 'X_17 X_36',
       'X_17 X_37', 'X_17 X_24', 'X_17 X_25', 'X_17 X_26', 'X_17 X_27',
       'X_17 X_28', 'X_17 X_29', 'X_17 X_41', 'X_17 X_42', 'X_17 X_43',
       'X_17 X_44', 'X_17 X_38', 'X_17 X_39', 'X_17 X_40', 'X_17 X_50',
       'X_17 X_51', 'X_17 X_52', 'X_17 X_54', 'X_17 X_55', 'X_17 X_56',
       'X_18^2', 'X_18 X_34', 'X_18 X_35', 'X_18 X_36', 'X_18 X_37',
       'X_18 X_24', 'X_18 X_25', 'X_18 X_26', 'X_18 X_27', 'X_18 X_28',
       'X_18 X_29', 'X_18 X_41', 'X_18 X_42', 'X_18 X_43', 'X_18 X_44',
       'X_18 X_38', 'X_18 X_39', 'X_18 X_40', 'X_18 X_50', 'X_18 X_51',
       'X_18 X_52', 'X_18 X_54', 'X_18 X_55', 'X_18 X_56', 'X_34^2',
       'X_34 X_35', 'X_34 X_36', 'X_34 X_37', 'X_34 X_24', 'X_34 X_25',
       'X_34 X_26', 'X_34 X_27', 'X_34 X_28', 'X_34 X_29', 'X_34 X_41',
       'X_34 X_42', 'X_34 X_43', 'X_34 X_44', 'X_34 X_38', 'X_34 X_39',
       'X_34 X_40', 'X_34 X_50', 'X_34 X_51', 'X_34 X_52', 'X_34 X_54',
       'X_34 X_55', 'X_34 X_56', 'X_35^2', 'X_35 X_36', 'X_35 X_37',
       'X_35 X_24', 'X_35 X_25', 'X_35 X_26', 'X_35 X_27', 'X_35 X_28',
       'X_35 X_29', 'X_35 X_41', 'X_35 X_42', 'X_35 X_43', 'X_35 X_44',
       'X_35 X_38', 'X_35 X_39', 'X_35 X_40', 'X_35 X_50', 'X_35 X_51',
       'X_35 X_52', 'X_35 X_54', 'X_35 X_55', 'X_35 X_56', 'X_36^2',
       'X_36 X_37', 'X_36 X_24', 'X_36 X_25', 'X_36 X_26', 'X_36 X_27',
       'X_36 X_28', 'X_36 X_29', 'X_36 X_41', 'X_36 X_42', 'X_36 X_43',
       'X_36 X_44', 'X_36 X_38', 'X_36 X_39', 'X_36 X_40', 'X_36 X_50',
       'X_36 X_51', 'X_36 X_52', 'X_36 X_54', 'X_36 X_55', 'X_36 X_56',
       'X_37^2', 'X_37 X_24', 'X_37 X_25', 'X_37 X_26', 'X_37 X_27',
       'X_37 X_28', 'X_37 X_29', 'X_37 X_41', 'X_37 X_42', 'X_37 X_43',
       'X_37 X_44', 'X_37 X_38', 'X_37 X_39', 'X_37 X_40', 'X_37 X_50',
       'X_37 X_51', 'X_37 X_52', 'X_37 X_54', 'X_37 X_55', 'X_37 X_56',
       'X_24^2', 'X_24 X_25', 'X_24 X_26', 'X_24 X_27', 'X_24 X_28',
       'X_24 X_29', 'X_24 X_41', 'X_24 X_42', 'X_24 X_43', 'X_24 X_44',
       'X_24 X_38', 'X_24 X_39', 'X_24 X_40', 'X_24 X_50', 'X_24 X_51',
       'X_24 X_52', 'X_24 X_54', 'X_24 X_55', 'X_24 X_56', 'X_25^2',
       'X_25 X_26', 'X_25 X_27', 'X_25 X_28', 'X_25 X_29', 'X_25 X_41',
       'X_25 X_42', 'X_25 X_43', 'X_25 X_44', 'X_25 X_38', 'X_25 X_39',
       'X_25 X_40', 'X_25 X_50', 'X_25 X_51', 'X_25 X_52', 'X_25 X_54',
       'X_25 X_55', 'X_25 X_56', 'X_26^2', 'X_26 X_27', 'X_26 X_28',
       'X_26 X_29', 'X_26 X_41', 'X_26 X_42', 'X_26 X_43', 'X_26 X_44',
       'X_26 X_38', 'X_26 X_39', 'X_26 X_40', 'X_26 X_50', 'X_26 X_51',
       'X_26 X_52', 'X_26 X_54', 'X_26 X_55', 'X_26 X_56', 'X_27^2',
       'X_27 X_28', 'X_27 X_29', 'X_27 X_41', 'X_27 X_42', 'X_27 X_43',
       'X_27 X_44', 'X_27 X_38', 'X_27 X_39', 'X_27 X_40', 'X_27 X_50',
       'X_27 X_51', 'X_27 X_52', 'X_27 X_54', 'X_27 X_55', 'X_27 X_56',
       'X_28^2', 'X_28 X_29', 'X_28 X_41', 'X_28 X_42', 'X_28 X_43',
       'X_28 X_44', 'X_28 X_38', 'X_28 X_39', 'X_28 X_40', 'X_28 X_50',
       'X_28 X_51', 'X_28 X_52', 'X_28 X_54', 'X_28 X_55', 'X_28 X_56',
       'X_29^2', 'X_29 X_41', 'X_29 X_42', 'X_29 X_43', 'X_29 X_44',
       'X_29 X_38', 'X_29 X_39', 'X_29 X_40', 'X_29 X_50', 'X_29 X_51',
       'X_29 X_52', 'X_29 X_54', 'X_29 X_55', 'X_29 X_56', 'X_41^2',
       'X_41 X_42', 'X_41 X_43', 'X_41 X_44', 'X_41 X_38', 'X_41 X_39',
       'X_41 X_40', 'X_41 X_50', 'X_41 X_51', 'X_41 X_52', 'X_41 X_54',
       'X_41 X_55', 'X_41 X_56', 'X_42^2', 'X_42 X_43', 'X_42 X_44',
       'X_42 X_38', 'X_42 X_39', 'X_42 X_40', 'X_42 X_50', 'X_42 X_51',
       'X_42 X_52', 'X_42 X_54', 'X_42 X_55', 'X_42 X_56', 'X_43^2',
       'X_43 X_44', 'X_43 X_38', 'X_43 X_39', 'X_43 X_40', 'X_43 X_50',
       'X_43 X_51', 'X_43 X_52', 'X_43 X_54', 'X_43 X_55', 'X_43 X_56',
       'X_44^2', 'X_44 X_38', 'X_44 X_39', 'X_44 X_40', 'X_44 X_50',
       'X_44 X_51', 'X_44 X_52', 'X_44 X_54', 'X_44 X_55', 'X_44 X_56',
       'X_38^2', 'X_38 X_39', 'X_38 X_40', 'X_38 X_50', 'X_38 X_51',
       'X_38 X_52', 'X_38 X_54', 'X_38 X_55', 'X_38 X_56', 'X_39^2',
       'X_39 X_40', 'X_39 X_50', 'X_39 X_51', 'X_39 X_52', 'X_39 X_54',
       'X_39 X_55', 'X_39 X_56', 'X_40^2', 'X_40 X_50', 'X_40 X_51',
       'X_40 X_52', 'X_40 X_54', 'X_40 X_55', 'X_40 X_56', 'X_50^2',
       'X_50 X_51', 'X_50 X_52', 'X_50 X_54', 'X_50 X_55', 'X_50 X_56',
       'X_51^2', 'X_51 X_52', 'X_51 X_54', 'X_51 X_55', 'X_51 X_56',
       'X_52^2', 'X_52 X_54', 'X_52 X_55', 'X_52 X_56', 'X_54^2',
       'X_54 X_55', 'X_54 X_56', 'X_55^2', 'X_55 X_56', 'X_56^2'],
      dtype=object)

In [ ]:
test_poly = poly.transform(test_x)

In [ ]:
test_poly.shape

(39608, 779)

In [ ]:
#Regression Model Fit
lgbm = MultiOutputRegressor(LGBMRegressor(n_estimators=1000,
                                            learning_rate=0.01, 
                                            subsample=0.8, 
                                            colsample_bytree = 0.8, 
                                            max_depth=7)).fit(train_input, train_target)
print('Done.')

Done.

In [ ]:
pred = lgbm.predict(val_input)
print('Done.')

Done.

In [ ]:
val_target = val_target.to_numpy()

In [ ]:
lg_nrmse(val_target, pred)

1.9560032644698793